{# extend #}

{# render partials ... ? #}




{#<h1>{{ title }}</h1>#}
{#qsd#}
{#qsd#}



{{ render_partials(_page, 'main') }}





{#{% for _partial in _regions._main._partials %}#}
    {#{{ _partial|raw }}#}
{#{% endfor %}#}


{#{{ '020'|bla }}#}
{#dq#}
{#sd#}
{#TWIG#}
{#<hr>#}
{#{% for _partial in _regions._bottom._partials %}#}
    {#{{ _partial|raw }}#}
{#{% endfor %}#}
